[Unit]
Description=Audio Router Service
After=pipewire.service pipewire-pulse.service network-online.target
Wants=network-online.target

[Service]
#Environment="XDG_RUNTIME_DIR=/run/user/1000"
#Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/tomeriksen/development/turntable-rpi/audio-router.py
Restart=always
#User=tomeriksen

[Install]
WantedBy=default.target

